# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env/

# VS Code
.vscode/

# Node
node_modules/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/

# Misc
*.sqlite3
*.db
*.bak

# Jupyter
.ipynb_checkpoints/

# Coverage
htmlcov/
.coverage
coverage.xml

# Reports
*.pdf

# Static/Generated
static/css/
static/js/
